@import "../../sass/utils/variables.scss";

.house-hold {
    color: $color-primary;  
    
    .description_box {
      display: flex;

      @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    
      .Collapse-section {
        margin: 2rem;
        flex-basis: 50%; // ou autre mesure qui garantit que chaque section a sa propre taille
    width: 50%; 
      }
      .Collapse-title {
        width: 100%;
        
        
      }

     


}

}