@import "../../sass/utils/variables.scss";

.house-hold {
    color: $color-primary;  
    
    .description_box {
      display: flex;
    
      .Collapse-section {
        margin: 2rem;
        width: 50%;
      }
      .Collapse-title {
        width: 100%;
        
        
      }

     


}

}