.home_presentation {
  
  
    
}

.home_title {
    
    color: white;
    width: 50%;
    font-size: 18px;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    margin: 4vh 8vh 5vh 8vh;
    grid-gap: 2rem;
    gap: 2rem;
  }