@import "../../sass/utils/variables.scss";

.Collapse {
  .Collapse-section {
    background-color: $background-light;
    color: $color-primary;
    margin: 1rem 11rem 1rem 11rem;
    border-radius: 4px;
    overflow: hidden; 
    font-size: 20px;
   
    

    .Collapse-title {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border: none;
      width: 100%;
      text-align: left;
      background-color: $color-primary;
      color: $color-secondary;
      font-family: "Montserrat";
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      border-radius: 5px;
      

      &:focus {
        outline: none;
      }
    }

    .Collapse-icon {
      transform: rotate(0);
      transition: transform 0.3s ease;
      font-size: 35px;
     
      

      &.open {
        transform: rotate(-180deg);
      }
    }


    @keyframes collapseTranslateY {
      from {
        transform: translateY(-75%);
      }
      to {
        transform: translateY(-10%); 
      }
    }
    
    .Collapse-content {
      padding: 1rem;
      
      max-height: 0;
      opacity: 0;
      transition: max-height 0s ease, opacity 0.5s ease;
      padding: 0 1rem; // padding  pour éviter un changement brusque lorsque le collapse s'ouvre
    }

    &.open {
      .Collapse-content {
        max-height: 7rem; 
        opacity: 1;
        padding-top: 1rem; // Restituer le padding lors de l'ouverture
        transition: max-height 0 s ease, opacity 0.5s 0.3s ease; // délai à l'opacité pour que le texte apparaisse après l'extension
        animation: collapseTranslateY 0.5s ease-in-out forwards;
        font-weight: 500;

      }

    }
  }
}
