@import "../../sass/utils/variables.scss";

.Collapse {
  .Collapse-section {
    background-color: $background-light;
    color: $color-primary;
    margin-bottom: 1rem;
    border-radius: 4px;
    overflow: hidden; 
    

    .Collapse-title {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border: none;
      width: 100%;
      text-align: left;
      background-color: $color-primary;
      color: $color-secondary;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      border-radius: 5px;
      

      &:focus {
        outline: none;
      }
    }

    .Collapse-icon {
      transform: rotate(0);
      transition: transform 0.3s ease;
      font-size: 2rem;

      &.open {
        transform: rotate(-180deg);
      }
    }

    .Collapse-content {
      padding: 1rem;
      border-top: 1px solid white;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.5s ease, opacity 0.5s ease;
      padding: 0 1rem; // Ajoutez du padding ici pour éviter un changement brusque lorsque le collapse s'ouvre
    }

    &.open {
      .Collapse-content {
        max-height: 10rem; // Ajustez cette valeur en fonction du contenu
        opacity: 1;
        padding-top: 1rem; // Restituez le padding lors de l'ouverture
        transition: max-height 0.5s ease, opacity 0.5s 0.3s ease; // Ajoutez un délai à l'opacité pour que le texte apparaisse après l'extension
      }

    }
  }
}
