@import "../../sass/utils/variables.scss";

.apartment__header {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    .apartment__owner__star{
        margin-right: 6vh;
        margin-top: 1vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        color: $background-light;
        font-size: 30px;
       
        .on {
            color: $color-primary;
        }

        @media screen and (max-width: 767px) {
            margin-left: 4vh;
        }
    }
    .apartment__title{
        flex-grow : 1;
        margin-left: 6vh;

    }
    .apartment__owner{
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 767px) {
            flex-direction: row; 
            justify-content: space-between;
        }
       
        
    } 
    .apartment__owner__details{
        display:flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        gap: 0.5rem;
        align-items: center;

        @media screen and (max-width: 767px) {
            order: 1;
        }
        
    }
    .apartment__owner__badge img{
        margin-right: 6vh;
        height: 80px;
        width: 80px;
        border-radius: 50%;
      
    }
    h1 {    
        font-weight: 400;
        margin-block: 0;

        @media screen and (max-width: 767px) {
            font-size: 25px;
         }
     }
     h2{
        font-weight: 400;  
        font-size: 20px;
        margin-block: 1rem;
     }
     
    .apartment__tags {
        display: flex;
        gap: 1rem;
        text-align: center;
        flex-wrap: wrap;
       
        span{
            background-color: $color-primary;
            color:$color-secondary;
            padding: 0.3rem 0.3rem;
            width: auto;
            border-radius: 0.7rem;
            font-size: 20px;
            white-space: nowrap;
           
        }
        }
    h3 {
        margin-block: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 400;
    }
    
 }