.gallery {
    margin-left: 15px;
    margin-right: 15px;
  
    
      background-color: #f6f6f6;
      border-radius: 25px;
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin-left: 3rem;
      margin-right: 3rem;
    
  }