@import "../../sass/utils/variables.scss";

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 3rem;
  row-gap: 1.5rem;
  padding: 3rem; 
  margin: 2rem 4rem; 
  background-color: $background-light;
  border-radius: 25px;

  @media screen and (max-width: 767px) {
    background: none;
    padding: 0;
    margin: 4vh 3vh 5vh 3vh;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}
}

