@import "../../sass/utils/variables.scss";

.houseCover {
  margin: 4vh 6vh 5vh 6vh;
  position: relative;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin: 4vh 6vh 0vh 6vh;
  }
  .btn__next {
    position: absolute;
    cursor: pointer;
    top: 0%;
    bottom: 0%;
    color: $color-secondary;
    width: 5rem;
    font-size: 6rem;
    border: none;
    left: 2%;
    background-color: transparent;

    @media screen and (max-width: 767px) {
      font-size: 35px;
      bottom: 15%;
    }
  }
}
.btn__previous {
  position: absolute;
  cursor: pointer;
  top: 0%;
  bottom: 0%;
  right: 2%;
  color: $color-secondary;
  width: 5rem;
  font-size: 6rem;
  border: none;
  background-color: transparent;

  @media screen and (max-width: 767px) {
    font-size: 35px;
    bottom: 15%;
  }
}

.img__count {
  color: $color-secondary;
  font-size: 2rem;
  position: absolute;
  left: 47.5%;
  bottom: 8%;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.image__box {
  position: relative;
  height: 415px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    height: 415px;
    object-fit: cover;
    opacity: 0;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: opacity 1s ease-in-out 0s;

    &.show {
      opacity: 1;
    }

    @media screen and (max-width: 767px) {
      height: 330px;
    }
  }
  @media screen and (max-width: 767px) {
    height: 370px;
  }
}
