.banner {
  display: flex;
  justify-content: center;
  margin: 4vh 8vh 5vh 8vh;
  grid-gap: 2rem;
  gap: 2rem;

  img {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    filter: brightness(70%);
    border-radius: 25px;
  }
}
