@import "../../sass/utils/variables.scss";

.banner {
  position: relative; // Ajouté pour positionner le titre relativement à la bannière
  display: flex;
  justify-content: center;
  margin: 4vh 3vh 5vh 3vh;
  grid-gap: 2rem;
  gap: 2rem;

  img {
    width: 95%;
    height: 223px;
    object-fit: cover;
    filter: brightness(70%);
    border-radius: 25px;

    @media screen and (max-width: 767px) {
      height: 180px;
      width: 100%;
  }
  }

  .title {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: $color-secondary; 
    font-family: "Montserrat";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;

     @media screen and (max-width: 767px) {
            font-size: 25px;
            white-space: pre-line;
            text-align: left;
            left: 40%;
            font-weight: bold;
        }
  }
}
